/* 初始化 */
body{
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    line-height: 1.5;
    font-size: 14px;
    color: rgb(102, 102, 102);
    /* background-color: rgb(246,246,246); */
    background-color: #fff;
    /* height: 2000px; */
}
input{
    outline: none;
}

/* 头部 */
header{
    position: relative;
    width: 100%;
    height: 44px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}
#remove{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 44px;
    height: 44px;

}
#remove::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-left: 10px;
    background: url(../images/remove.png) no-repeat;
    background-size: 24px;
}
.search{
    display: flex;
    position: relative;
    height: 30px;
    background-color: rgb(247,247,247);
    margin: 0 50px;
    margin-top: 7px;
    border-radius: 15px;
    overflow: hidden;
}
.search span{
    
    position: absolute;
    top: 7px;
    left: 15px;
    display: block;
    width: 18px;
    height: 15px;
    background: url(../images/sprites.png) no-repeat -84px 0;
    background-size: 200px;
    border-right:1px solid #ccc ;
}
.search input{
    flex: 1;
    margin-left: 40px;
    outline: none;
    border: 0;
    background-color: rgb(247,247,247);

}
.btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
}
.btn a{
    display: block;
    margin-top: 7px;
    width: 40px;
    height: 28px;
    line-height: 28px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    color: white;
}
/* 热门搜索 */
.hot{
    margin-top: 20px;
    padding: 0 5px;
}
.hot-hd{
    display: flex;
    justify-content: space-between;
}
.hot-bd{
    display: block;
}
.hot-bd a{
    float: left;
    display: block;
    height: 20px;
    padding: 5px 10px;
    margin:   5px ;
    background-color: rgb(240,242,245);
    color: rgb(104,104,104);
    font-size: 12px;
}